body {
  font-size: 16px;
  color: black;
  background-color: #b4d3fc;
  font-family: 'Oxygen', sans-serif;
}
button {
  margin-left: auto;
  margin-top: auto;
}
.navbar-header {
  margin-left: 20px;
  margin-right: auto;
  height: 80px;
}
#header-nav{
  background-color: #4d94ff;
  border-radius: 0;
  border: 0;
  vertical-align: middle;
}
.navbar-brand h1 {
  font-family: Helvetica, serif;
  color: blue;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-left: auto;
  margin-top: auto;
  padding: 0 0 0 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p {
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.container {
  margin-left: 0;
  height: 80px;
}
.menuDescr {
  width: 90%;
  margin-left: 5%;
  scroll-margin-right: 5%;
}
#menuTitle {
  color: aliceblue; 
  font-weight: bold;
}

#nav-list a {
  color: white;
  background-color: #6e8bb6;
  font-size: 0.75em;
  vertical-align: middle;
  height: 35px;
}
#nav-list a:hover {
  background: #E7E7E7;
  color: black;
  vertical-align: middle;
  font-size: 0.75em;
  height: 35px;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  background-color: #ddd ;
  border: 1px solid black;
}
#beefItem {
  border: 1px solid blue;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #c0dbfd;
}
#chickenItem {
  border: 1px solid blue;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #c0dbfd;
}
#sushiItem {
  border: 1px solid blue;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #c0dbfd;
}
.jumbotron {
  background-color: #b4d3fc;
  padding: 5px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}
/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {

}

/********** Extra small devices only **********/
@media (max-width: 575px) {
  
}